<div class="container">

  <!-- <div class="image" style="height: 100vh;width:100vw;" [ngStyle]="{'background': 'url(/ass) no-repeat 0 0'}"></div> -->

  <div class="abs-center">

    <form action="#" class="border p-3 form" >
      <div class="d-flex justify-content-center">
        <img class="logoUser " src="../../../../assets/Imagenes/usuario.png">
      </div><br>
      <div class="d-flex justify-content-center">
        <h3>¡Bienvenido!</h3><br>
      </div>

      <div class="form-group mb-5">
        <label for="email">Email</label>
        <input type="email" name="email" id="email"  class="form-control" placeholder="User" >
      </div>
      <div class="form-group mb-3">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password"  >
      </div><br>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-danger " routerLink="/repositorio/repo">Login</button>
      </div>

    </form>

  </div>

</div>
