<div>

  <nav class="navbar navbar-expand-lg  site-header sticky-top py-1  navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <img width="60px" height="60px" src="../../../assets/Imagenes/LogoREp-removebg-preview.png">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class=" Indice nav-link" routerLink="/auth/login">Iniciar Sesion</a>
        </li>
        <li class="nav-item ">
          <a class=" Indice nav-link" routerLink="/auth/registros">Registro</a>
        </li>
      </ul>
    </div>
  </nav>

    <section class="bg-black inverted overflow-hidden">
      <div class="container py-20 d-flex flex-column min-vh-100 foreground">
        <div class="row my-auto justify-content-center">
          <div class="col-lg-6 text-center skrollable skrollable-before" data-center-center="transform: translateY(0%);" data-top-bottom="transform: translateY(10%);" style="transform: translateY(0%);">
            <span class="badge bg-opaque-red rounded-pill text-red mb-4">R E P O S</span>

          </div>
        </div>
      </div>
      <figure class="background background-gradient-vertical aos-init aos-animate" data-aos="zoom-out" data-aos-delay="400">
        <img class="w-40 shadow position-absolute top-10 end-70 skrollable skrollable-between" src="../../../assets/Imagenes/tecno3.jpg" alt="" data-center-top="transform: translateY(0%);" data-top-bottom="transform: translateY(-80%);" style="transform: translateY(-37.8082%);">

        <img class="w-40 shadow position-absolute top-80 start-20 skrollable skrollable-between" src="../../../assets/Imagenes/tecno2.jpg" alt="" data-bottom-top="transform: translateY(0%);" data-top-bottom="transform: translateY(-50%);" style="transform: translateY(-6.42857%);">

        <img class="w-40 shadow position-absolute top-0 start-60 skrollable skrollable-between" src="../../../assets/Imagenes/tecno5.jpg" alt="" data-bottom-top="transform: translateY(0%);" data-top-bottom="transform: translateY(-50%);" style="transform: translateY(-36.5035%);">

        <img class="w-40 shadow position-absolute top-60 start-80 skrollable skrollable-between" src="../../../assets/Imagenes/tecno3.jpg" alt="" data-bottom-top="transform: translateY(0%);" data-top-bottom="transform: translateY(-120%);" style="transform: translateY(-32.6374%);">

        <img class="w-40 shadow position-absolute top-100 start-50 skrollable skrollable-before" src="../../../assets/Imagenes/tecno2.jpg" alt="" data-bottom-top="transform: translateY(0%);" data-top-bottom="transform: translateY(-60%);" style="transform: translateY(0%);">

        <img class="w-40 shadow position-absolute top-60 end-90 skrollable skrollable-between" src="../../../assets/Imagenes/tecno5.jpg" alt="" data-bottom-top="transform: translateY(0%);" data-top-bottom="transform: translateY(-80%);" style="transform: translateY(-22.6286%);">
      </figure>
      <!-- <span class="scroll-down animate__animated animate__slideOutDown animate__infinite"></span> -->
    </section>

    <section class=" bg-light">
      <div class="container">
        <div class="row justify-content-center mb-10">
          <div class="col-sm text-center">
            <h2 class="display-2 fw-light"><span class="fw-bold">The best Repo</span> &amp; in a quick and easy way</h2>
            <button class="btn btn-filter rounded-pill current" data-filter="*" data-target="#grid1" routerLink="/repositorio/repo">Biblioteca</button>
            <!-- <button class="btn btn-filter rounded-pill current" data-filter="*" data-target="#grid1" routerLink="/biblioteca/biblio">Biblio</button> -->
            <!-- <button class="btn btn-filter rounded-pill" data-filter=".landing" data-target="#grid1" routerLink="/calendar/go">Calendar</button> -->
            <br><br>
            <h1 > ¡ Get Started !</h1>
          </div>
        </div>

      </div>
    </section>

</div>
