<div class="contenedorPrincipal" style="background:url(../../../../assets/Imagenes/index.svg)">

  <div class="container mt-5" >


    <div class="signupFrm">
      <form action="" class="form">
        <div class="d-flex align-items-center flex-column bd-highlight mb-3">
          <h1 class="title  p-2 bd-highlight  ">Sign up</h1><br>
           <img class=" bd-highlight bienvenido " width="100px" height="100px" src="../../../../assets/Imagenes/bienvenida.png">
           <!-- animate__animated animate__hinge animate__delay-4s -->
        </div>


        <div class="inputContainer">
          <label for="email">Email</label>
          <input type="email" name="email" id="email"  class="form-control" placeholder="User" required >

        </div>

        <div class="inputContainer mt-5">
          <label for="user">Username</label>
          <input type="text" class="input" placeholder="User" class="form-control" required>

        </div>

        <div class="inputContainer mt-5">
          <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Password"  required>
        </div>

        <div class="inputContainer mt-5">

          <label for="password">Confirm Password</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Confirm Password" required >

        </div>
        <div class="d-flex justify-content-center ">
          <button type="submit" class="btn btn-danger submitBtn mt-5" routerLink="/auth/login">Sign up</button>
        </div>

      </form>
    </div>

  </div>

</div>


